﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 VSL/Templates/VSL/Base
-->

{% load bootstrap4 %}
{% load group_tags %}
{% load gdpr_tag %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}
{% load static %}
{% block static %}
<script src="{% static 'js/confirm_delete.js' %}"></script>
<script src="{% static 'js/auto_modal.js' %}"></script>
{% endblock %}
{% include 'VSL/confirm_delete_modal.html' %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Viking Shopping List</title>

</head>

<body>
    <!-- Static Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top">
        <div class="container">
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="{% url 'VSL:events' %}">Viking Shopping List</a>
            {% else %}
            <a class="navbar-brand" href="{% url 'VSL:index' %}">Viking Shopping List</a>
            {% endif %}
            {% if user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% endif %}

            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="navbar-nav mr-auto">
                    {% if request.user|has_group:"Jarls" %}
                    <li class="nav-item"><a href="{% url 'VSL:events' %}" class="nav-link">Upcoming Events</a></li>
                    <li class="nav-item"><a href="{% url 'users:profiles' %}" class="nav-link">Users Profiles</a></li>
                    {% elif user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'VSL:events' %}" class="nav-link">Upcoming Events</a></li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'users:my_profile' %}" class="nav-link"> {{ user.username }}</a></li>
                    <li class="nav-item"><a href="{% url 'VSL:logout' %}" class="nav-link">Log Out</a></li>
                    {% endif %}
                </ul>
            </div> <!--/.nav-collapse-->
        </div>
    </nav>

    <div class="container">
        {% if user.is_authenticated and request.user|gdpr_accept %}
        <div class="modal fade" id="ConfirmGDPRModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmGDPRModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">GDPR Compliance</h5>
                        </button>
                    </div>
                    <div class="modal-body confirm-gdpr border-light">
                        <p>While you are a member this site shall keep the following information:</p>
                        <ul>
                            <li>Email Address - Used to send optional update notifications</li>
                            <li>Name - Used to identify you in communications</li>
                            <li>Username - Used as a unique identifier</li>
                            <li>Date and Time of last log in - Enables site background functions</li>
                        </ul>
                        <p>
                            This information is required for the functioning of the site.
                            It is accessible to site administrators, but is not shared beyond that.
                            You may delete your account at any time from your profile page,
                            this will delete all record of your data.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <h5>Accept and show Events</h5>
                        <a href=" {% url 'users:gdpr_confirm' %}"><button type="button" class="btn btn-success" id="ConfirmGDPRModal">Accept</button></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="page-header">
            {% block header %}{% endblock header %}
        </div>
        <hr>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </div> <!-- /container -->

</body>
</html>

