﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 VSL/Templates/VSL/confirm_delete_modal
-->
{% load bootstrap4 %}


<!--Delete button will redirect to the href of the element with 'id = caller-id' property in this modal-->
<div class="modal fade" id="ConfirmDeleteModal" tabindex="-1" caller-id="" role="dialog" aria-labelledby="ConfirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-light">
            <div class="modal-body confirm-delete bg-danger border-light">
                <h5>Delete {{ event.name }} {{ item.name }}?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="ConfirmDeleteButtonModal">Delete</button>
            </div>
        </div>
    </div>
</div>


