﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 VSL/Templates/VSL/Events
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<h2>{{ event }}</h2>
<h5>Edit {{ event }}?</h5>
{% endblock header %}

{% block content %}

<div class="container pl-0">
    <form action="{% url 'VSL:edit_event' event.id %}" method="post" class="form">
        <div class="row">
            {% csrf_token %}
            <div class="col-auto">
                {% bootstrap_form form show_help=FALSE %}
                <div class="row">
                    <div class="col">
                        {% buttons %}
                        <button name="submit" class="btn btn-warning btn">Save Changes</button>
                        {% endbuttons %}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-auto">
        <a href="{% url 'VSL:event' event.id %}"><button name="button" class="btn btn-primary">Cancel</button></a>
    </div>
</div>


{% endblock content %}


