﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 VSL/Templates/VSL/Event
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h2>{{ event }}</h2>
    <h5>{{ event.date_of }}</h5>
</div>
{% endblock header %}

{% block content %}

{% if perms.VSL.add_item %}
<div class="container">
    <div class="row pl-3">
        <h4>Add item?</h4>
    </div>
    <form action="{% url 'VSL:add_item' event.id %}" method="post" class="form">
        <div class="row">
            {% csrf_token %}
            <div class="col-auto">
                {% bootstrap_form form layout='inline' %}
            </div>
            <div class="col-auto">
                {% buttons %}
                    <button name="submit" class="btn btn-success">Add Item</button>
                {% endbuttons %}
            </div>
        </div>
    </form>
</div>
<hr>
{% endif %}

<div class="container">
    <div class="row pl-3">
        <div class="col">
            <div class="row">
                <h4>Shopping List:</h4>
            </div>
            <div class="row">
                <div class="alert alert-primary pb-1">
                    <ul class="list-unstyled">
                        {% for item in shopping_list %}
                        <li>
                            {% if item.is_pillaged %}
                            <div class="alert alert-success text-dark border-primary">
                                <div class="row">
                                    <s><h5>{{ item.name }}</h5></s>
                                </div>
                                <div class="row">
                                    <small>Requested by <strong>{{ item.added_by.username }}</strong> on <strong>{{ item.date_added|date:'d M Y' }}</strong>. Pillaged by <strong>{{ item.pillaged_by.username }}</strong></small>
                                </div>
                            </div>
                            {% else %}
                            <div class="alert alert-light text-dark border-primary">
                                <div class="row">
                                    <div class="col p-0">
                                        <h5>{{ item.name }}</h5>
                                    </div>
                                    {% if perms.VSL.change_item %}
                                    <div class="col-ml-auto">
                                        <a href=" {% url 'VSL:pillage_item' item.id %}">
                                            <button name="submit" class="btn btn-success btn-sm">Pillaged!</button>
                                        </a>
                                        <a href="{% url 'VSL:delete_item' item.id %}" class="confirm-delete" title="Delete Item" data-toggle="modal" data-target="#ConfirmDeleteModal" id="deleteButton{{item.id}}">
                                            <button name="button" class="btn btn-danger btn-sm">Delete</button>
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <small>Requested by <Strong>{{ item.added_by.username }}</Strong> on <strong>{{ item.date_added|date:'d M Y' }}</strong></small>
                                </div>
                            </div>
                            {% endif %}
                        </li>
                        {% empty %}
                        <li>
                            <div class="alert alert-light text-dark">
                                <h5>There are no items in the shopping list.</h5>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <h4>Attendees:</h4>
            </div>
            <div class="row">
                <div class="alert alert-primary pb-1">
                    <ul class="list-unstyled">
                        {% for attendee in attendee_list %}
                        <li>
                            <div class="alert alert-light text-dark border-primary pb-1">
                                <h6>{{ attendee }}</h6>
                            </div>
                        </li>
                        {% empty %}
                        <li>
                            <div class="alert alert-light text-dark">
                                <h5>There are currently no attendees to this event.</h5>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



{% if perms.VSL.change_event %}
<hr />
<div class="container pb-5">
    <a href=" {% url 'VSL:edit_event' event.id %}"><button name="submit" class="btn btn-warning btn-sm">Edit Event</button></a> <a href="{% url 'VSL:delete_event' event.id %}" class="confirm-delete" title="Delete Event" data-toggle="modal" data-target="#ConfirmDeleteModal" id="deleteButton{{event.id}}">
            <button name="button" class="btn btn-danger btn-sm">Delete Event</button>
</div>
{% endif %}

{% endblock content %}


