﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 VSL/Templates/VSL/Events
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}
{% load gdpr_tag %}

{% block header %}
<div class="container">
    <h2>Events</h2>
    <h5>Feasting and Battles! Aaaaarg!</h5>
</div>
{% endblock header %}

{% block content %}

{% if perms.VSL.add_event %}
<div class="container">
    <div class="row pl-3">
        <h4>Add a new Event?</h4>
    </div>
    <form action="{% url 'VSL:new_event' %}" method="post" class="form">
        <div class="row">
            {% csrf_token %}
            <div class="col-auto">
                {% bootstrap_field form.title show_help=FALSE layout='inline' %}
            </div>
            <div class="col-auto">
                {% bootstrap_field form.date_of show_help=FALSE layout='horizontal' %}
            </div>
            <div class="col-auto">
                {% buttons %}
                <button name="submit" class="btn btn-success">Add Event</button>
                {% endbuttons %}
            </div>
        </div>
    </form>
</div>
<hr>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-auto">
            <div class="alert alert-primary">
                <ul class="list-unstyled">
                    {% for event in events %}
                    <li>
                        <div class="alert alert-light text-dark border-primary">
                            <div class="form-group">
                                <a href="{% url 'VSL:event' event.id %}"><h5>{{ event }}</h5></a>
                                <small>When: <strong>{{ event.date_of }}</strong>, Added: <strong>{{ event.added_by }}</strong></small>
                            </div>
                                {% if event in attending %}
                                    <a href=" {% url 'VSL:not_attending' event.id %}"><button name="submit" class="btn btn-success btn-sm" id="events">Attending</button></a>
                                {% else %}
                                    <a href=" {% url 'VSL:is_attending' event.id %}"><button name="submit" class="btn btn-outline-secondary btn-sm" id="events">Not Attending</button></a>
                                {% endif %}
                        </div>
                    </li>
                    {% empty %}
                    <li>There are currently no upcoming events.<br />Please add a new event to continue.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


