﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 VSL/Templates/VSL/index
-->

{% extends "VSL/base.html" %}
{% load group_tags %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h1>Viking Shopping List</h1>
    <h5>Loot! Pillage! Aaaarg!</h5>
</div>
{% endblock header %}


{% block content %}

<div class="container">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
        <div class="alert alert-light border-dark text-dark">
            <div class="row mx-auto">
                <h2>Log in</h2>
            </div>
            <div class="row-fluid mx-auto">
                <form method="POST" action="{% url 'VSL:index' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button name="submit" class="btn btn-primary">Log in</button>
                    <input type="hidden" name="next" value="{% url 'VSL:events' %}" />
                    {% endbuttons %}
                </form>
                {% if form.errors %}
                <div class="container">
                    <div class="row-fluid">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div class="row-fluid">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="col">
                                    <a href="{% url 'password_reset' %}" method="get">
                                        <button name="submit" class="btn btn-dark">Reset Password</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}


