<html>
{% load i18n %}{% autoescape off %}

<head>
    <h2>{{ event.title }} created</h2>
</head>

<hr />

<body>
    <h5>Hello {{ user.get_user_name }}</h5>
    
    <p>{{ request.user }} has created the {{ event.title }} event.</p>
    
    <p>Please go to {{ site_name }} to join in.</p>


    {% blocktrans %}The {{ site_name }} team{% endblocktrans %}

</body>
{% endautoescape %}
</html>

