﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/password
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h1>Hello {{ user.username }}</h1>
    <h5>Change Password</h5>
</div>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="row pl-3">
            <form action="{% url 'users:change_password' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form changepassform %}
                {% buttons %}
                <button name="submit" class="btn btn-primary">Save Changes</button>
                {% endbuttons %}
            </form>
        </div>
        <div class="row pl-3">
            <a href="{% url 'users:my_profile' %}"><button name="button" class="btn btn-warning">Cancel</button></a>
        </div>
    </div>

{% endblock content %}

