﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/templates/users/confirm_gdpr_modal
-->
{% load bootstrap4 %}


<div class="modal fade show" id="ConfirmGDPRModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmGDPRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">GDPR Compliance</h5>
            </div>
            <div class="modal-body confirm-gdpr border-light">
                <p>While you are a member this site shall keep the following information:</p>
                <ul>
                    <li>Email Address - Used to send optional update notifications</li>
                    <li>Name - Used to identify you in communications</li>
                    <li>Username - Used as a unique identifier</li>
                    <li>Date and Time of last log in - Enables site background functions</li>
                </ul>
                <p>
                    This information is required for the functioning of the site.
                    It is accessible to site administrators, but is not shared beyond that.
                    You may delete your account at any time from your profile page,
                    this will delete all record of your data.
                </p>
            </div>
            <div class="modal-footer">
                <a href=" {% url 'users:gdpr_confirm' %}">
                    <button type="button" class="btn btn-success">Accept</button>
                </a>
            </div>
        </div>
    </div>
</div>


