﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/create_user
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h2>Create User</h2>
    <h5>New Warriors and Shield Maidens for the Pilaging! Aaaaarg!</h5>
</div>
{% endblock header %}


{% block content %}

<div class="container">
    <div class="row pl-3">
        <h4>Cancel and return to profiles?</h4>
    </div>
    <div class="row pl-3">
        <a href="{% url 'users:profiles' %}" method="get"><button name="submit" class="btn btn-primary">Cancel</button></a>
    </div>
</div>

<hr />

<div class="container">
    <div class="row pl-3">
        <h4>Add a new User?</h4>
    </div>
    <div class="row pl-3">
        <form action="{% url 'users:create_user' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form show_label=False %}
            {% buttons %}
            <button name="submit" class="btn btn-primary">Create</button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% endblock content %}

