﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/invalid
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}

{% block header %}
<div class="container">
    <h2>Invalid Link</h2>
</div>
{% endblock header %}


{% block content %}
<div class="container">
    <div class="row pl-3">
        <h5>
            <p>Sorry, that link is either invalid or has expired.</p>
            <p>Please log-in instead</p>
        </h5>
    </div>
    <div class="row pl-3">
        <a href="{% url 'VSL:index' %}" method="get"><button name="submit" class="btn btn-primary">Log in</button></a>
    </div>
</div>
{% endblock content %}

