﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/my_profile
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h1>Hello {{ user.username }}</h1>
</div>
{% endblock header %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Edit Personal Details</h5>
        </div>
        <div class="col-1">

        </div>
        <div class="col">
            <h5>Events Attending</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'users:my_profile' %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form userownform %}
                {% buttons %}
                <button name="submit" class="btn btn-primary">Save Changes</button>
                {% endbuttons %}
            </form>
            <hr />
            <div class="row pl-3">
                <h5>Recieve emails</h5>
            </div>
            <div class="row pl-3">
                {% if recieve_coms %}
                    <a href=" {% url 'users:coms_cancel' %}"><button name="submit" class="btn btn-success">Recieveing</button></a>
                {% else %}
                    <a href=" {% url 'users:coms_confirm' %}"><button name="submit" class="btn btn-danger">Cancelled</button></a>
                {% endif %}
            </div>
            <hr />
            <div class="row pl-3">
                <h5>Change Password</h5>
            </div>
            <div class="row pl-3">
                <div class="row pl-3">
                    <p>Raw passwords are not stored, so there is no way to see your password, but you can change it using <a href="{% url 'users:change_password' %}"><button name="submit" class="btn btn-primary">this form.</button></a></p>
                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col">
            <div class="row pl-3">
                <div class="alert alert-primary pb-1">
                    <ul class="list-unstyled">
                        {% for event in attending_list %}
                        <li>
                            <div class="alert alert-light text-dark border-primary">
                                <div class="row">
                                    <div class="col-auto">
                                        <h5>{{ event }}</h5>
                                    </div>
                                    <div class="col-auto ml-auto">
                                        <a href=" {% url 'VSL:not_attending' event.id %}"><button name="submit" class="btn btn-warning btn-sm" id="my_profile">Cancel</button></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <li>
                            <div class="alert alert-light text-dark">
                                <h5>You are not currently subscribed to any events.</h5>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

{% endblock content %}


