﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/profiles
-->

{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h2>User Profiles</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row pl-3">
        <h4>Add a new User?</h4>
    </div>
    <div class="row pl-3">
        <form action="{% url 'users:create_user' %}" method="get" class="form">
            {% csrf_token %}
            <button name="submit" class="btn btn-primary">Add User</button>
        </form>
    </div>
</div>

<hr />

<div class="container">
    <form action="{% url 'users:profiles' %}" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="row form-row">
            {% bootstrap_form form exclude="groups" show_help=FALSE %}
            <div class="col-auto">
                <label>{{ form.groups.label }}</label>
                <div class="dropdown" id="groups">
                    <button class="btn btn-seconday dropdown-toggle" type="button" id="groups" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select
                    </button>
                    <div class="dropdown-menu" aria-labelledby="groups">
                        {% bootstrap_field form.groups show_help=FALSE show_label=FALSE %}
                    </div>
                </div>
            </div>
            <div class="col-auto pt-4 mt-2">
                {% buttons %}
                <button name="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </div>
        </div>
        {% endfor %}
    </form>
</div>

{% endblock content %}

