﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/reset_done
-->
{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h2>Password Reset Sent</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row pl-3">
        <h5>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <br />
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </h5>
    </div>
</div>

{% endblock content %}


