﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/reset_confirm
-->
{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h2>Password Reset</h2>
</div>
{% endblock header %}


{% block content %}

{% if validlink %}
<div class="container">
    <div class="row pl-3">
        <h5><p>Please enter your new password twice so we can verify that you typed it correctly</p></h5>
    </div>
    <div class="row pl-3">
        <form method="post">
            {% csrf_token %}
            {%bootstrap_form form %}
            {% buttons %}
            <button name="submit" class="btn btn-primary">Change my password</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="row pl-3">
        <p>Please remember to update your log in details in your password manager of choice.</p>
        <p> We recommend <a href="https://1password.com/">1Password</a> or <a href="https://keepass.info/">KeePass</a></p>
    </div>
    {% else %}
    <div class="row pl-3">
        <div class="alert alert-danger text-dark">
            <h5>
                <p>The password reset link was invalid, possibly because it has already been used.</p>
                <p>Please request a new password reset.</p>
            </h5>
        </div>
    </div>
</div>
{% endif %}

{% endblock content %}


