﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/reset_complete
-->
{% extends "VSL/base.html" %}
{% load bootstrap4 %}

{% block header %}
<div class="container">
    <h2>Password Reset Complete</h2>
</div>
{% endblock header %}


{% block content %}
<div class="container">
    <div class="row pl-3">
        <h5>
            <p>Your password has been set. You may now go ahead and log in now</p>
        </h5>
    </div>
    <div class="row pl-3">
        <a href="{% url 'VSL:index' %}" method="get"><button name="submit" class="btn btn-primary">Log in</button></a>
    </div>
</div>
{% endblock content %}

