﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/reset_password
-->
{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h2>Password Reset</h2>
</div>
{% endblock header %}


{% block content %}
<div class="container">
    <div class="row pl-3">
        <h5>
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </h5>
    </div>
    <div class="row-fluid">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button name="submit" class="btn btn-primary">Reset my password</button>
            {% endbuttons %}
        </form>
        <div class="row pl-3">
            <a href="{% url 'VSL:index' %}"><button name="button" class="btn btn-warning">Cancel</button></a>
        </div>
    </div>
</div>
{% endblock content %}


