﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/unsubscribe
-->
{% extends "VSL/base.html" %}
{% load bootstrap4 %}

{% block header %}
<div class="container">
    <h2>Unsubscribe Successfull</h2>
</div>
{% endblock header %}


{% block content %}
<div class="container">
    <div class="row pl-3">
        <h5>
            <p>Hi {{ user }}. You will no longer recieve <strong>any</strong> notifications from the Viking Shopping list.</p>
            <p>If you wish, you can re-enable notifications from your profile page.</p>
        </h5>
    </div>
</div>
<hr />
<div class="container">
    <div class="row pl-3">
        <p>Go to <a href="{% url 'VSL:index' %}" method="get"><button name="submit" class="btn btn-primary">Log in</button></a> ?</p>
    </div>
</div>
{% endblock content %}

