﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 users/Templates/users/welcome
-->
{% extends "VSL/base.html" %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h2>Welcome to the Viking Shopping List</h2>
</div>
{% endblock header %}


{% block content %}

{% if validlink %}
<div class="container">
    <div class="row pl-3">
        <h4>Confirm your registration</h4>
    </div>
</div>

<hr>

<div class="container">
    <div class="row pl-3">
        <h5>Please enter your password twice so we can verify that you typed it correctly</h5>
    </div>
    <div class="row pl-3">
        <form method="post">
            {% csrf_token %}
            {%bootstrap_form form %}
            {% buttons %}
            <button name="submit" class="btn btn-primary">Set my password</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="row pl-3">
        <p>We recommend the use of a password manager, such as <a href="https://1password.com/">1Password</a> or <a href="https://keepass.info/">KeePass</a></p>
    </div>

    {% else %}
    <div class="row pl-3">
        <div class="alert alert-danger text-dark">
            <h5>
                <p>The link was invalid, possibly because it has already been used.</p>
                <p>Please request a new invite.</p>
            </h5>
        </div>
    </div>
</div>
    {% endif %}

    {% endblock content %}


