﻿<!--
 Peter AC Munro Python Portfolio
 Viking Shopping List
 VSL/Templates/VSL/index
-->
{% extends "VSL/base.html" %}
{% load group_tags %}
{% load bootstrap4 %}


{% block header %}
<div class="container">
    <h1>Error 500</h1>
    <h5>The server shot an arrow in its own foot</h5>
</div>
{% endblock header %}


